@import url(./globalColors.css);

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.DbErrConiatner {
  border: var(--mediumGrey) 4px solid;
  background-color: var(--backgroundColor);
  width: 50%;
  padding: 3%;
  border-radius: 50px;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--backgroundHover);
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: var(--primary_color);
  font-weight: bold;
}

a:hover {
  color: var(--primary_colorHover);
}
